<section class='mpl'>
    <h1>Master Prospect List</h1>
    <input type='button' class='add_rush btn btn-large btn-primary' value='Add rush' onclick='window.location = "/rushes/new"'/>
    <div class="form-search">
        <input type="text" class="input-medium search-query" placeholder="Search for rushes">
        <button type="submit" class="btn">Search</button>
    </div>

    <table class='table'>
        <tr class='header'>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Chill</th>
            <th>Pull</th>
        </tr>
    <% if !@rushes.blank? %>
        <% i = 1 %>
        <% for rush in @rushes %>
            <% if rush.name.length > 0 && rush.active == 1 %>
                <tr onclick='window.location = "/rushes/<%=rush.id%>"'>
                    <td><%= i%></td>
                    <td class='first_name'><%= rush.name.split[0]%></td>
                    <td class='last_name'><%= rush.name.split[1..-1].join(' ')%></td>
                    <th><%= @RushesController.get_average_chill(rush.cpratings) %></th>
                    <th><%= @RushesController.get_average_pull(rush.cpratings) %></th>
                </tr>
                <% i += 1 %>
            <% end %>
      <% end %>
    <% else %>

    <% end %>
    </table>
</section>