<section class='rush'>
    <h1><%= @rush.name %></h1>
    <div class='photo' style='background-image: url(https://sphotos-a.xx.fbcdn.net/hphotos-ash4/359_33376189118_9123_n.jpg) '>
    </div>
    <article class='info'>
        <dl class="dl-horizontal">
            <dt><h3>Phone<h3></dt>
            <dd><%= @rush.phone %></dd>
            <dt><h3>Email<h3></dt>
            <dd><%= @rush.email %></dd>
            <dt><h3>Residence<h3></dt>
            <dd><%= @rush.residence %></dd>
            <dt><h3>From<h3></dt>
            <dd><%= @rush.origin %></dd>
        </dl>
        <div class='chilltopull'>
            <span class='chill'>Chill</span>
            <span class='pull'>Pull</span>
        </div>
        <div class="progress">
            <div class="bar bar-info" style="width: 35%;"></div>
            <div class="bar bar-success" style="width: 20%;"></div>
        </div>
        <div class='friendswith'>
            <h3>Friends with</h3>
            <ul>
                <li><a>Joe</a></li>
                <li><a>Jake</a></li>
            </ul>
        </div>
        <div class='attended'>
            <h3>Attended</h3>
            <ul>
                <li><a>Civy (10/03)</a></li>
                <li><a>Animal Party</a></li>
            </ul>
        </div>
    </article>
    <article class='comments'>
        <%= form_for @rush_comment do |f| %>
            <%= f.text_area :text, :placeholder => "Say something about " + @rush.name.split[0] %>

            <input id="new_rush_comment_rush_id" name="rush_comment[rush_id]" type="hidden" value= <%= @rush.id %> >
            <input id="new_rush_comment_user_id" name="rush_comment[user_id]" type="hidden" value= <%= current_user.id %> >

            
            <%= f.submit 'Submit', :class => 'btn-large btn btn-success' %>
        <% end %>

        <% if !@rush_comments.blank? %>
            <% for item in @rush_comments %>
                <blockquote>
                    <p>
                        <% if User.find_by_id(item.user_id) %>
                            <a href='/users/<%= item.user_id%>'>
                                <%=User.find_by_id(item.user_id).name%>
                            </a>
                        <% end %>
                        <%= item.text %>
                    </p>
                    <small>updated at: <cite title="Source Title"><%= item.updated_at.localtime.strftime("%I:%M%p %m/%d/%Y")%></cite></small>
                    <% if item.user_id == current_user.id %>
                        <%= link_to 'delete', item, :confirm => 'Are you sure you want to delete this comment?', :method => :delete, :class => 'btn-small btn' %>
                        <button id="edit_button" class="btn-small btn">edit</button>
                        <%= form_for( @rush_comment, :namespace => 'edit', :url => edit_rush_comment_path( item ), :html => { :method => :post } ) do |f| %>
                            <input id="edit_rush_comment_text" name="rush_comment[text]" value= "<%= item.text %>" >
                            <%= f.submit "Submit" %>
                        <% end %>
                    <% end %>
                </blockquote>
          <% end %>
        <% else %>

        <% end %>
    </article>
</section>