<section class='rush'>
    <%= stylesheet_link_tag "application", "token-input" %> 
    <%= stylesheet_link_tag "application", "token-input-facebook" %>  
    <%= javascript_include_tag :defaults, "jquery.tokeninput" %> 
    <header> 
        <h1><%= @rush.name %></h1>
        <% if is_admin? %>
            <%= form_for @rush, :namespace => 'cut', :url => cut_rush_path(@rush), :html => { :method => :post} do |r| %>  
                <% if @rush.active == 1 %>
                    <%= r.submit 'Cut', :confirm => 'FUCK THAT KID?', :class => 'btn btn-danger' %> 
                <% else %>
                    <%= r.submit 'Uncut', :class => 'btn btn-success' %>
                <% end %>
            <% end %>
        <% end %>
        <h1 class='rank'>#<%= @rank %></h1>
    </header>
    <% if @rush.photo.blank? %>
        <% found_photo = getPictureForName(current_user.token,@rush.name) %>
        <% if !found_photo.blank? %>
            <% @rush.update_attribute(:photo, found_photo) %>
            <% add_new_photo found_photo @rush.id %>
        <% end %>
    <% end %>

    <article class='photo_container'>
        <div class='background'></div>
        <% if @rush.photos && @rush.photos[0] %>
            <% photo_url = @rush.photos[0].photo_url %>
        <% elsif !@rush.photo.blank? %>
            <% photo_url = @rush.photo %>
        <% else %>
            <% photo_url = "http://www.bizsitesolutions.com/images/team/placeholder2.jpg" %>
        <% end %>
        <div class='photo' style='background-image: url(<%= photo_url %>) '></div>
    </article>
    <article class='info'>
        <dl class="dl-horizontal">
            <article class='show'>
                <dt><h3>Phone<h3></dt>
                <dd>
                    <% if @rush.phone.length == 10 %>
                        (<%= @rush.phone[0..2] %>)<%= @rush.phone[3..5] %>-<%= @rush.phone[6..9] %>
                    <% else %>
                        <%= @rush.phone %>
                    <% end %>
                </dd>
                <dt><h3>Email<h3></dt>
                <dd><%= @rush.email %></dd>
                <dt><h3>Residence<h3></dt>
                <dd><%= @rush.residence %></dd>
                <dt><h3>From<h3></dt>
                <dd><%= @rush.origin %></dd>
                <button class="edit_info_button btn btn-info">edit</button>
            </article>

            <%= form_for( @rush, :namespace => 'edit_info', :url => edit_rush_path( @rush ), :html => { :method => :post, :class => "edit_rush_info" } ) do |f| %>
                <dt><h3>Name<h3></dt>
                <dd><input id="edit_rush_name_field" type='text' name="rush[name]" value="<%= @rush.name %>" placeholder="name" /></dd>
                <dt><h3>Phone<h3></dt>
                <dd><input id="edit_rush_phone_field" type='text' name="rush[phone]" value="<%= @rush.phone %>" placeholder="phone number"/></dd>
                <dt><h3>Email<h3></dt>
                <dd><input id="edit_rush_email_field" type='text'  name="rush[email]" value="<%= @rush.email %>" placeholder="email"/></dd>
                <dt><h3>Residence<h3></dt>
                <dd><input id="edit_rush_residence_field" type='text'  name="rush[residence]" value="<%= @rush.residence %>" placeholder="residence on campus"/></dd>
                <dt><h3>From<h3></dt>
                <dd><input id="edit_rush_origin_field" type='text'  name="rush[origin]" value="<%= @rush.origin %>" placeholder="country"/></dd>
                <dt><h3>Photo URL</h3></dt>
                <dd><input id="edit_rush_photo_url" type='text'  name="rush[photo]" value="<%= @rush.photo %>" placeholder="photo url(optional)"/></dd>
                <%= f.submit "submit", :class => 'btn btn-success', :id => 'edit_info_button_submit' %>
                <input type='button' value='cancel' class='edit_info_button_cancel btn'/>
                
            <% end %>

        </dl>
        <div class='chilltopull'>
            <span class='chill'>Chill</span>
            <span class='pull'>Pull</span>
        </div>
        <div class="progress">
            <div class="bar bar-info" style="width: <%=@average_chill*10%>%;"><p><%= '%.1f' % @average_chill%></p></div>
            <div class="bar bar-success" style="width: <%=@average_pull*10%>%;"><p><%= '%.1f' % @average_pull%></p></div>
        </div>
        <div class='friendswith'>
            <h3>Friends with</h3>
            <article class='friend_show'>
                <ul>
                    <% for f in @friends %>
                        <li><a href='/rushes/<%= f.id%>'><%= f.name %></a></li>
                    <% end %>
                </ul>
                <input type='button' class='btn btn-info friend-btn' value='edit'/>
            </article>
            <article class='friend_form'>
                <%= form_for @rush, :namespace => 'friend', :url => edit_friend_rush_path(@rush), :html => { :method => :post} do |f| %>  
                    <%= f.text_field :friend_tokens, "data-pre" => @rush.friends.map(&:attributes).to_json %>   
                    <input type='button' class='btn friend-cancel-btn' value='cancel'/>
                    <%= f.submit 'submit', :class => 'btn btn-success' %>  
                <% end %>
            </article> 
        </div>
        <div class='brothercontact'>
            <h3>Brother contact</h3>
            <article class='contact_show'>
                <ul>
                    <% for c in @users %>
                        <li><a href='/users/<%= c.id%>'><%= c.name %></a></li>
                    <% end %>
                </ul>
                <input type='button' class='btn btn-info contact-btn' value='edit'/>
            </article>
            <article class='contact_form'>
                <%= form_for @rush, :namespace => 'contact', :url => edit_contact_rush_path(@rush), :html => { :method => :post} do |f| %>  
                    <%= f.text_field :contacts, "data-pre" => @users.map(&:attributes).to_json %>   
                    <input type='button' class='btn contact-cancel-btn' value='cancel'/>
                    <%= f.submit 'submit', :class => 'btn btn-success' %>  
                <% end %>
            </article> 
        </div>
        <!-- <div class='attended'>
            <h3>Attended</h3>
            <ul>
                <% for e in @events %>
                    <li><a href='/events/<%=e.id%>'><%= e.name %></a></li>
                <% end %>
            </ul>
        </div> -->
    </article>
    <article class='comments'>
        <%= form_for @rush_comment do |f| %>
            <%= f.text_area :text, :placeholder => "Say something about " + @rush.name.split[0] %>

            <input id="new_rush_comment_rush_id" name="rush_comment[rush_id]" type="hidden" value= <%= @rush.id %> >
            <input id="new_rush_comment_user_id" name="rush_comment[user_id]" type="hidden" value= <%= current_user.id %> >

            
            <%= f.submit 'Submit', :class => 'new_comment btn-large btn btn-success' %>
        <% end %>

        <article class='slider_container'>
            <!-- If not yet already voted -->
            <% if @current_rating.blank? %>
                <b>How is <%= @rush.name.split[0] %>'s chill and pull?</b><br/>
                <p>Chill</p>
                <div class='slider slider_chill'></div>
                <p class='results slider_chill_results'>5</p>
                <p>Pull</p>
                <div class='slider slider_pull'></div>
                <p class='results slider_pull_results'>5</p>
                <%= form_for @cprating do |f| %>
                    <input id="new_cprating_pull" name="cprating[pull]" type="hidden" class="slider_pull_form" value='5'/>
                    <input id="new_cprating_chill" name="cprating[chill]" type="hidden" class="slider_chill_form" value='5'/>
                    <input id="new_cprating_rush_id" name="cprating[rush_id]" type="hidden" value= <%= @rush.id %> >
                    <input id="new_cprating_user_id" name="cprating[user_id]" type="hidden" value= <%= current_user.id %> >
                    <%= f.submit 'vote', :class => 'btn' %>
                <% end %>
            <% else %>
                <!-- Already voted -->
                <b>You have already voted for <%= @rush.name.split[0] %></b><br/>
                <p>Chill</p>
                <div class='slider slider_chill'></div>
                <p class='results slider_chill_results'><%= @current_rating.chill %></p>
                <p>Pull</p>
                <div class='slider slider_pull'></div>
                <p class='results slider_pull_results'><%= @current_rating.pull %></p>
                <%= form_for @cprating, :url => edit_cprating_path(@current_rating), :html => { :method => :post} do |f| %>
                    <input id="new_cprating_pull" name="cprating[pull]" type="hidden" class="slider_pull_form" value='<%= @current_rating.pull %>'/>
                    <input id="new_cprating_chill" name="cprating[chill]" type="hidden" class="slider_chill_form" value='<%= @current_rating.chill %>'/>
                    <input id="new_cprating_rush_id" name="cprating[rush_id]" type="hidden" value= <%= @rush.id %> >
                    <input id="new_cprating_user_id" name="cprating[user_id]" type="hidden" value= <%= current_user.id %> >
                    <%= f.submit 'change', :class => 'btn' %>
                <% end %>
            <% end %>
        </article>

        <% if !@rush_comments.blank? %>
            <% for item in @rush_comments %>
                <blockquote>
                    <article class='show'>
                        <p>
                            <% if User.find_by_id(item.user_id) %>
                                <a href='/users/<%= item.user_id%>'>
                                    <%=User.find_by_id(item.user_id).name%>
                                </a>
                            <% end %>
                            <%= item.text %>
                        </p>
                        <small>updated at: <cite title="Source Title"><%= item.updated_at.localtime.strftime("%I:%M%p %m/%d/%Y")%></cite></small>
                    </article>
                    <% if item.user_id == current_user.id %>
                        <%= form_for( @rush_comment, :namespace => 'edit', :url => edit_rush_comment_path( item ), :html => { :method => :post, :class => "edit_new_rush_comment" } ) do |f| %>
                            <textarea id="edit_rush_comment_text" name="rush_comment[text]"><%= item.text %></textarea>
                            <%= f.submit "Submit", :class => 'btn' %>
                            <input type='button' value='cancel' class='btn edit_button_cancel'/>
                        <% end %>
                        <article class='buttons'>
                            <button class="edit_button btn-small btn">edit</button>
                            <%= link_to 'delete', item, :confirm => 'Are you sure you want to delete this comment?', :method => :delete, :class => 'btn-small btn' %>
                        </article>
                    <% end %>
                </blockquote>
          <% end %>
        <% end %>
    </article>
</section>

<% if @prev_rush %>
    <%= link_to @prev_rush.name, @prev_rush, :class => 'prev_rush', :style => 'display:none' %>
<% end %>
<% if @next_rush %>
    <%= link_to @next_rush.name, @next_rush, :class => 'next_rush', :style => 'display:none' %>
<% end %>