<section class='rush'>
    <h1><%= @rush.name %></h1>
    <div class='photo' style='background-image: url(http://sphotos-b.xx.fbcdn.net/hphotos-prn1/557770_3518418074958_937029982_n.jpg)'>
    </div>
    <article class='info'>
        <dl class="dl-horizontal">
            <dt><h3>Phone<h3></dt>
            <dd><%= @rush.phone %></dd>
            <dt><h3>Email<h3></dt>
            <dd><%= @rush.email %></dd>
            <dt><h3>Residence<h3></dt>
            <dd><%= @rush.residence %></dd>
            <dt><h3>From<h3></dt>
            <dd><%= @rush.origin %></dd>
        </dl>
        <div class='chilltopull'>
            <span class='chill'>Chill</span>
            <span class='pull'>Pull</span>
        </div>
        <div class="progress">
            <div class="bar bar-info" style="width: 35%;"></div>
            <div class="bar bar-success" style="width: 20%;"></div>
        </div>
        <div class='friendswith'>
            <h3>Friends with</h3>
            <ul>
                <li><a>Joe</a></li>
                <li><a>Jake</a></li>
            </ul>
        </div>
        <div class='attended'>
            <h3>Attended</h3>
            <ul>
                <li><a>Civy (10/03)</a></li>
                <li><a>Animal Party</a></li>
            </ul>
        </div>
    </article>
    <article class='comments'>
        <%= form_for @rush_comment do |f| %>
            <%= f.text_area :text, :placeholder => "Say something about " + @rush.name %>

            <input id="rush_comment_rush_id" name="rush_comment[rush_id]" type="hidden" value= <%= @rush.id %> >
            <input id="rush_comment_user_id" name="rush_comment[user_id]" type="hidden" value= <%= current_user.id %> >

            
            <%= f.submit 'Submit', :class => 'btn-large btn btn-success' %>
        <% end %>

        <% if !@rush_comments.blank? %>
            <% for item in @rush_comments %>
                <blockquote>
                    <p><a href='/users/<%= item.user_id%>'><%=item.user_id%></a><%= item.text%></p>
                    <small>updated at: <cite title="Source Title"><%= item.updated_at.localtime.strftime("%I:%M%p %m/%d/%Y")%></cite></small>
                </blockquote>
          <% end %>
        <% else %>

        <% end %>
    </article>
</section>