<section class='rush'>
    <h1><%= @rush.name %></h1>
    <article class='photo_container'>
        <div class='background'></div>
        <div class='photo' style='background-image: url(http://sphotos-b.xx.fbcdn.net/hphotos-prn1/557770_3518418074958_937029982_n.jpg) '></div>
    </article>
    <article class='info'>
        <dl class="dl-horizontal">
            <dt><h3>Phone<h3></dt>
            <dd>
                <% if @rush.phone.length == 10 %>
                    (<%= @rush.phone[0..2] %>)<%= @rush.phone[3..5] %>-<%= @rush.phone[6..9] %>
                <% else %>
                    <%= @rush.phone %>
                <% end %>
            </dd>
            <dt><h3>Email<h3></dt>
            <dd><%= @rush.email %></dd>
            <dt><h3>Residence<h3></dt>
            <dd><%= @rush.residence %></dd>
            <dt><h3>From<h3></dt>
            <dd><%= @rush.origin %></dd>
        </dl>
        <div class='chilltopull'>
            <span class='chill'>Chill</span>
            <span class='pull'>Pull</span>
        </div>
        <div class="progress">
            <div class="bar bar-info" style="width: 35%;"></div>
            <div class="bar bar-success" style="width: 20%;"></div>
        </div>
        <div class='friendswith'>
            <h3>Friends with</h3>
            <ul>
                <li><a>Joe</a></li>
                <li><a>Jake</a></li>
            </ul>
        </div>
        <div class='attended'>
            <h3>Attended</h3>
            <ul>
                <li><a>Civy (10/03)</a></li>
                <li><a>Animal Party</a></li>
            </ul>
        </div>
    </article>
    <article class='comments'>
        <%= form_for @rush_comment do |f| %>
            <%= f.text_area :text, :placeholder => "Say something about " + @rush.name.split[0] %>

            <input id="new_rush_comment_rush_id" name="rush_comment[rush_id]" type="hidden" value= <%= @rush.id %> >
            <input id="new_rush_comment_user_id" name="rush_comment[user_id]" type="hidden" value= <%= current_user.id %> >

            
            <%= f.submit 'Submit', :class => 'new_comment btn-large btn btn-success' %>
        <% end %>

        <article class='slider_container'>
            <b>How is <%= @rush.name.split[0] %>'s chill and pull?</b><br/>
            <p>Chill</p>
            <div class='slider slider_chill'></div>
            <p class='results slider_chill_results'>5</p>
            <p>Pull</p>
            <div class='slider slider_pull'></div>
            <p class='results slider_pull_results'>5</p>
            <input type="hidden" class="slider_pull"/>
            <input type='submit' class='btn' value='vote'/>
        </article>

        <% if !@rush_comments.blank? %>
            <% for item in @rush_comments %>
                <blockquote>
                    <article class='show'>
                        <p>
                            <% if User.find_by_id(item.user_id) %>
                                <a href='/users/<%= item.user_id%>'>
                                    <%=User.find_by_id(item.user_id).name%>
                                </a>
                            <% end %>
                            <%= item.text %>
                        </p>
                        <small>updated at: <cite title="Source Title"><%= item.updated_at.localtime.strftime("%I:%M%p %m/%d/%Y")%></cite></small>
                    </article>
                    <% if item.user_id == current_user.id %>
                        <%= form_for( @rush_comment, :namespace => 'edit', :url => edit_rush_comment_path( item ), :html => { :method => :post, :class => "edit_new_rush_comment" } ) do |f| %>
                            <textarea id="edit_rush_comment_text" name="rush_comment[text]"><%= item.text %></textarea>
                            <%= f.submit "Submit", :class => 'btn' %>
                            <input type='button' value='cancel' class='btn edit_button_cancel'/>
                        <% end %>
                        <article class='buttons'>
                            <button class="edit_button btn-small btn">edit</button>
                            <%= link_to 'delete', item, :confirm => 'Are you sure you want to delete this comment?', :method => :delete, :class => 'btn-small btn' %>
                        </article>
                    <% end %>
                </blockquote>
          <% end %>
        <% else %>

        <% end %>
    </article>
</section>