<h3>This is the page of:</h3>
<h1><%= @user.name %>.</h1>
<p>Nothing to see here.</p>
<input type='button' class='btn btn-large' value='Return to home' onclick='window.location = "/"'/>
<!-- <li><%= @user.email %></li>
<% if @user.phone  %>
<li><%= @user.phone %></li>
<% end %>
</ul> -->
<p>You are the primary contact of:</p>
<% for rush in @user.rushes %>
<p><a href = '/rushes/<%=rush.id%>'><%=rush.name%></a></p>
<% end %>