<%= form_for @event, :html => { :class => 'form-horizontal'} do |f| %>
    <% if @event.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <div class='control-group'>
        <%= f.label :name, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :name, :placeholder => 'event name' %>
        </div>
    </div>
 
    <div class="control-group">
        <%= f.label :description, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_area :description, :placeholder => 'description' %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :date, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :date, :class => 'datepicker', :value => @event.date, :placeholder => 'date of event' %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :start_time, :class => 'control-label' %>
        <div class='controls'>
            <% if @event.start_time %>
                <% value = @event.start_time.strftime('%l:%M%P') %>
            <% else %>
                <% value = "" %>
            <% end %>
            <%= f.text_field :start_time, :class => 'starttime', :value => value, :placeholder => 'start time'%>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :end_time, :class => 'control-label' %>
        <div class='controls'>
            <% if @event.end_time %>
                <% value = @event.end_time.strftime('%l:%M%P') %>
            <% else %>
                <% value = "" %>
            <% end %>
            <%= f.text_field :end_time, :class => 'endtime', :value => value, :placeholder => 'end time' %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :photo, :class => 'control-label' %>
        <div class='controls'>
            <%= f.text_field :photo, :placeholder => 'photo url (Optional)' %>
        </div>
    </div>

<!-- Do date picker objects for start_time and end_time -->

    <div class="actions">
        <%= f.submit 'submit', :class => 'btn btn-success' %>
    </div>
<% end %>

