<h1>Events</h1>

<% for e in @events %>
    <h3><%= e.name %></h3>
    <% start_string = e.start_time.to_s %>
    <% end_string = e.end_time.to_s %>
    <% if !start_string.blank? && !end_string.blank? %>
    <h4><%= start_string %> to <%= end_string %></h4>
    <% end %>
    <div class='photo' style='background-image: url(<%= e.photo %>) '></div>    
    <p><%= e.description %></p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.description %></td>
    <td><%= event.start_time %></td>
    <td><%= event.end_time %></td>
    <td><%= event.photo %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
