<% if request.env['PATH_INFO'] == snrush_path %>
<!DOCTYPE html>
<html>
<head>
  <title>Sigma Nu Rush 2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class='navbar'>
        <div class='navbar-inner'>
            <section class='container'>
                <a href='/snrush' class='brand'>
                    <h1>Sigma Nu Rush 2013</h1>
                </a>
            </section>
        </div>
    </nav>
    <section class='container'>
        <%= yield %>
    </section>

    <footer> © 2012 Sigma Nu Beta Rho<footer>
</body>
</html>
<% else %>
<!DOCTYPE html>
<html>
<head>
  <title>Sigma Nu Rush 2013</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class='navbar'>
        <div class='navbar-inner'>
            <section class='container'>
                <a href='/' class='brand'>
                    <h1>Sigma Nu Rush 2013</h1>
                </a>
                <form class='form-add-or-search' action='/rushes' method='GET' accept-charset="UTF-8">
                    <input id='q' name='q' type="text" class="input-large search-query add-or-search" placeholder="Add or search for rushes">
                </form>
                <ul class='nav nav-btn'>
                    <% if signed_in? %>
                        <li><%= link_to current_user.name, current_user %></li>
                        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
                    <% else %>
                        <li>
                            <a href='/auth/facebook'>Sign in</a>
                        </li>
                    <% end %>
                </ul>
                <ul class='nav nav-header'>
                    <li>
                        <a href='/rushes'>Rushes</a>
                    </li>
                    <li>
                        <a href='/events'>Events</a>
                    </li>
                </ul>
            </section>
        </div>
    </nav>
    <section class='container'>
        <%= yield %>
    </section>

    <footer> © 2012 Sigma Nu Beta Rho<footer>
</body>
</html>
<% end %>